.hole{
    text-align: center;
    justify-content: center;
    padding-top: 5%;
    background-image: linear-gradient(to right, Blue, rgb(15, 15, 141));
    color:white;
    border-radius: 20px;
    width: 80vh;
    height: 60vh;
    margin-top: 5%;
    margin-left: 35%;
    font-family:cursive;
}

input{
    height: 25px;
    border-radius: 20px;
    font-size: 20px;
    border: none;
    text-align: center;
    
}

